img{
    border-radius: 50%;
    height: 50px;
}

.chat{
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.nav-bar{
    height: 100Vh
}

.chat-panel{
    height: 100vh;
    width: 100vw;
}

.olive-bg{
    background-color: olive;
}

.chat-username{
    background-color:  #105368;
    color: white;
    height: 8%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}

.logout-button{
    color: white;
}

.chat-username p{
    margin: 5px;
}

.chat-group-name{
    background-color: white;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.chat-content{
    background-color: rgb(255, 236, 185);
    height: 76%;
}

.message-box{
    display: flex;
    justify-content: center;
    padding: 4px;
}

.message-box button{
    font-weight: bold;
}
