.container{
    width:100%
}

.other-message{
    margin-left: 10%;
    display: flex;
    justify-content: flex-start;
}

.my-message{
    margin-right: 10%;
    display: flex;
    justify-content: flex-end;
}